### Desafio :

- Analise o dataset aluguel.csv da aula passada.
- Crie uma classe que representará o arquivo.
- Crie Três imóveis (objetos) que estão no dataset.

In [62]:
import pandas as pd

In [63]:
url = "dataset/aluguel.csv"
pd.read_csv(url)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botânico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienópolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

In [64]:
df = pd.read_csv (url,sep=";")
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [65]:
import numpy as np

In [66]:
len(df)

32960

In [67]:
df.isnull().sum()

Tipo              0
Bairro            0
Quartos           0
Vagas             0
Suites            0
Area              0
Valor            17
Condominio     4093
IPTU          10237
dtype: int64

In [68]:


# Definição da classe Imovel
class Imovel:
    def __init__(self, Tipo, Valor, IPTU):
        self.Tipo = Tipo
        self.Valor = Valor
        self.IPTU = IPTU

# Criando alguns objetos Imovel para exemplo
imovel1 = Imovel("Casa", 100000, 500)
imovel2 = Imovel("Apartamento", 80000, 400)
imovel3 = Imovel("Terreno", 50000, 300)

# Armazenando os objetos Imovel em uma lista
lista_imoveis = [imovel1, imovel2, imovel3]

# Função para calcular o valor total dos imóveis
def calcular_valor_total(imoveis):
    total = 0
    for imovel in imoveis:
        total += imovel.Valor
    return total

# Função para encontrar o imóvel mais caro
def encontrar_imovel_mais_caro(imoveis):
    imovel_mais_caro = None
    valor_maximo = 0
    for imovel in imoveis:
        if imovel.Valor > valor_maximo:
            valor_maximo = imovel.Valor
            imovel_mais_caro = imovel
    return imovel_mais_caro

# Exemplo de uso das funções
total_imoveis = calcular_valor_total(lista_imoveis)
imovel_mais_caro = encontrar_imovel_mais_caro(lista_imoveis)

# Exibindo os resultados
print(f"Valor total dos imóveis: R${total_imoveis}")
if imovel_mais_caro:
    print(f"Imóvel mais caro: Tipo {imovel_mais_caro.Tipo}, Valor R${imovel_mais_caro.Valor}")
else:
    print("Não há imóveis na lista.")

Valor total dos imóveis: R$230000
Imóvel mais caro: Tipo Casa, Valor R$100000

In [69]:
df.describe()

,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
count,32960.000000,32960.000000,32960.000000,32960.000000,3.294300e+04,2.886700e+04,2.272300e+04
mean,1.771390,1.749059,0.665777,231.901547,1.295266e+04,2.388062e+03,2.364410e+03
std,1.717869,20.380402,1.176525,1135.254152,6.675220e+05,3.918496e+04,1.795641e+05
min,0.000000,0.000000,0.000000,0.000000,7.500000e+01,1.000000e+00,1.000000e+00
25%,0.000000,0.000000,0.000000,55.000000,1.500000e+03,5.900000e+02,1.100000e+02
50%,2.000000,1.000000,0.000000,87.000000,2.800000e+03,9.900000e+02,2.500000e+02
75%,3.000000,2.000000,1.000000,170.000000,6.500000e+03,1.800000e+03,6.970000e+02
max,100.000000,1966.000000,70.000000,90000.000000,1.200000e+08,6.552570e+06,2.705307e+07

In [70]:
casa = Imovel(preco=152.04)
casa.preco

TypeError: Imovel.__init__() got an unexpected keyword argument 'preco'