### Desafio :

- Analise o dataset aluguel.csv da aula passada.
- Crie uma classe que representará o arquivo.
- Crie Três imóveis (objetos) que estão no dataset.

In [2]:
import pandas as pd

In [7]:
url = "dataset/aluguel.csv"
pd.read_csv(url)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botânico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienópolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

In [12]:
# Mostrar as primeiras linhas do dataset para verificação
print(df.head())

# Criar objetos Aluguel a partir do DataFrame do Pandas
class Aluguel:
    def __init__(self, endereco, bairro, area, quartos, aluguel):
        self.endereco = endereco
        self.bairro = bairro
        self.area = area
        self.quartos = quartos
        self.aluguel = aluguel

    def __str__(self):
        return f"Endereço: {self.endereco}\Bairro: {self.bairro}\Área: {self.area} Quartos: {self.quartos}Aluguel: {self.aluguel}"

  Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0          Quitinete;Copacabana;1;0;0;40;1700;500;60
1              Casa;Jardim Botânico;2;0;1;100;7000;;
2  Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3             Apartamento;Centro;1;0;0;15;800;390;20
4         Apartamento;Higienópolis;1;0;0;48;800;230;

<>:14: SyntaxWarning: invalid escape sequence '\B'
<>:14: SyntaxWarning: invalid escape sequence '\B'
C:\Users\ead\AppData\Local\Temp\ipykernel_19600\265798198.py:14: SyntaxWarning: invalid escape sequence '\B'
  return f"Endereço: {self.endereco}\Bairro: {self.bairro}\Área: {self.area} Quartos: {self.quartos}Aluguel: {self.aluguel}"